<div class="shopweb--product--details--info scroll">
        <div class="shopweb-product-detail-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="shopweb-product-detail-image">
            <img [src]="product.imageUrl" class="shopweb-product-detail-image">
        </div>
        
        <div class="shopweb-product-detail">
            <div class="shopweb-product-detail-name">
                <h2>{{product.name}}</h2>
            </div>
            <div class="shopweb-product-detail-gbc">
                <span>{{product.gender}}</span>
                <span>{{product.brand}}</span>
                <span>{{product.category}}</span>
            </div>
            <div class="shopweb-product-detail-price">
                <p>
                    <b>Price Each Pair:</b>
                    <span style="background-color: red; color:white"><s>{{product.price}}</s></span>
                    <span style="background-color: green; color:white">{{product.discountPrice}}</span> (Inclusive of all taxes)
                </p>
            </div>
            <div class="shopweb-product-detail-size" *ngIf="sizes.length">
                <div style="padding: 5px 0px; border-bottom: #ccc 2px solid">
                    <h4>Available Sizes</h4>
                </div>

                <div style="margin-top: 20px;">
                    <span
                    *ngFor="let size of sizes"
                    class="shopweb-product-detail-available-size">
                    {{ size }}
                    </span>
                </div>
            </div>


           <div class="shopweb-product-detail-color" *ngIf="colors.length">
            <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                <h4>Available Colors</h4>
            </div>
            <div style="margin-top: 20px;">
                <span
                *ngFor="let color of colors"
                class="shopweb-product-detail-available-color"
                [style.background-color]="color"
                [ngStyle]="{'border': color === 'white' ? '2px solid black' : '2px solid #ccc'}">
                </span>
            </div>
            </div>

            <div class="shopweb-product-detail-desc">
                <div style="padding: 5px 0px;border-bottom: #ccc 2px solid">
                    <h4>Description</h4>
                </div>
                <div style="margin-top: 20px">
                    <p>{{product.description}}</p>
                </div>                
            </div>
        </div>
        <div class="shopweb-product-detail-addtoCart">
            <button class="btn-add-to-cart" *ngIf="product.inStock">ADD TO CART</button>
            <button class="btn-add-to-cart" *ngIf="!product.inStock">Notify Me</button>
        </div>
    </div>
    <div class="overlay"></div>