<app-search (searchTextChanged)="onSearchChanged($event)"></app-search>

<app-filter [all]="totalProducts"
            [inStock]="totalProductInstock"
            [outOfStock]="totalProductOutofstock"
            (selectedFilterRadioChange)="onFilterChanged($event)">
</app-filter>

<div class="shopweb--products--container">
  <div *ngFor="let prod of products" (click)="selectedProduct = prod">
    <app-product *ngIf="shouldShowProduct(prod)"
                 [product]="prod">
    </app-product>
  </div>
</div>
